<?xml version="1.0" encoding="utf-8" ?>
<nlog 
    xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
    xsi:schemaLocation="NLog NLog.xsd" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    autoReload="true" 
    internalLogFile="${tempdir}\Vlado\Internal.log" 
    internalLogLevel="Trace" 
    throwExceptions="True">
  <variable name="AppName" value="LoggingTipsTricks" />
  <variable name="layout" value="${date}|${level:uppercase=true}|${exception}|${logger}|${environment-user}|${hostname}|${appdomain} ${stacktrace:format=Flat:topFrames=13:skipFrames=0:separator==>}${exception:format=toString,Data:maxInnerExceptionLevel=10} " />
  <variable name="LogsFolder" value="${tempdir}\Vlado" />
  <targets>
    <target xsi:type="File" name="file" fileName="${LogsFolder}\${AppName}.log" layout="${layout}" encoding="utf-8" archiveFileName="${LogsFolder}\${AppName}{#####}.zip" enableArchiveFileCompression="true" archiveAboveSize="15000" archiveNumbering="DateAndSequence"/>
    <target xsi:type="File" name="file_demo" fileName="${LogsFolder}\${AppName}_Demo.log" layout="${layout}" />
    <target xsi:type="ColoredConsole" name="console" layout="${layout}" />
    <target xsi:type="File" name="JSONFile" fileName="${LogsFolder}\${AppName}_JSON.log">
      <layout xsi:type="JsonLayout" includeAllProperties="True" excludeProperties="">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file,console,JSONFile" />
    <logger name="*.Demo" minlevel="Trace" writeTo="file_demo" />
  </rules>
</nlog>